gps-sensor/connection-string.txt
gps-sensor/.venv
gps-sensor/get-pip.py
gps-sensor/connection-string
gps-sensor/gps-trigger/.venv
soil-moisture-sensor/.venv
soil-moisture-sensor/soil-moisture-trigger/.venv
soil-moisture-sensor/.venv/pyvenv.cfg
gps-sensor/primaryKey.txt
gps-sensor/url-api.txt